water/Node-Red - waterTank.json
[{"id":"ebbdfd41.bc1418","type":"tab","label":"Water Tank","disabled":false,"info":""},{"id":"e4d90ff4.4aa58","type":"mqtt in","z":"ebbdfd41.bc1418","name":"sensors/water/tank","topic":"sensors/water/tank","qos":"1","datatype":"json","broker":"775c5a6d.2f6964","x":170,"y":60,"wires":[["a782cce1.6c342","704feb96.3bb8fc","f42c4f80.bcf12"]]},{"id":"a782cce1.6c342","type":"debug","z":"ebbdfd41.bc1418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":60,"wires":[]},{"id":"704feb96.3bb8fc","type":"switch","z":"ebbdfd41.bc1418","name":"level trigger","property":"payload.level","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":120,"wires":[[],[]]},{"id":"f42c4f80.bcf12","type":"json","z":"ebbdfd41.bc1418","name":"","property":"payload","action":"obj","pretty":true,"x":370,"y":180,"wires":[["688b07ac.21cfd8","bbcaa426.059fb8"]]},{"id":"688b07ac.21cfd8","type":"function","z":"ebbdfd41.bc1418","name":"gauge health","func":"var meas = {}\nmeas.payload = [\n    [{\n        health: (msg.payload.gauge1 == \"healthy\")?1:255\n    },\n    {\n        gaugeID: \"gauge1\"\n    }],\n    [{\n        health: (msg.payload.gauge2 == \"healthy\")?2:255\n    },\n    {\n        gaugeID: \"gauge2\"\n    }],\n    [{\n        health: (msg.payload.gauge3 == \"healthy\")?3:255\n    },\n    {\n        gaugeID: \"gauge3\"\n    }],\n    [{\n        health: (msg.payload.gauge4 == \"healthy\")?4:255\n    },\n    {\n        gaugeID: \"gauge4\"\n    }],\n    [{\n        health: (msg.payload.gauge5 == \"healthy\")?5:255\n    },\n    {\n        gaugeID: \"gauge5\"\n    }],\n    [{\n        health: (msg.payload.gauge6 == \"healthy\")?6:255\n    },\n    {\n        gaugeID: \"gauge6\"\n    }],\n    [{\n        health: (msg.payload.gauge7 == \"healthy\")?7:255\n    },\n    {\n        gaugeID: \"gauge7\"\n    }],\n    [{\n        health: (msg.payload.gauge8 == \"healthy\")?8:255\n    },\n    {\n        gaugeID: \"gauge8\"\n    }],\n    [{\n        health: (msg.payload.gauge9 == \"healthy\")?9:255\n    },\n    {\n        gaugeID: \"gauge9\"\n    }],\n    [{\n        health: (msg.payload.gauge10 == \"healthy\")?10:255\n    },\n    {\n        gaugeID: \"gauge10\"\n    }],\n];\nreturn meas;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["3450ec73.f31964"]]},{"id":"bbcaa426.059fb8","type":"function","z":"ebbdfd41.bc1418","name":"tank level","func":"measure = {}\nmeasure.payload = {\n    level: msg.payload.level\n}\nreturn measure;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["3450ec73.f31964"]]},{"id":"3450ec73.f31964","type":"influxdb out","z":"ebbdfd41.bc1418","influxdb":"16ff59c5.dbab5e","name":"","measurement":"waterTank","precision":"","retentionPolicy":"","x":880,"y":180,"wires":[]},{"id":"775c5a6d.2f6964","type":"mqtt-broker","z":"","name":"HOME-DD01","broker":"192.168.0.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"16ff59c5.dbab5e","type":"influxdb","z":"","hostname":"192.168.0.10","port":"8086","protocol":"http","database":"home_db","name":"","usetls":false,"tls":""}]